<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
    <%- include('header') %>
        <h1>Main Page</h1>

        <table>
            <tr>
                <td>
                    <ul>
                        <% 
                            for(var a = 0; a < playlists.length; a++){ 
                            if(playlists[a].dataValues.status == 'youtube')
                            {
                                %> 
                                    <li><%= playlists[a].dataValues.title %>
                                    <button class="sellButton" data-id="<%= playlists[a].dataValues.id %>">Sell</button>
                                    </li>
                                <%
                            }
                            else if(playlists[a].dataValues.status == 'for sale')
                            {
                                %> 
                                    <li><%= playlists[a].dataValues.title %></li>
                                <%
                            }
                            else if(playlists[a].dataValues.status == 'purchaised')
                            {
                                %> 
                                    <li><%= playlists[a].dataValues.title %></li>
                                <%
                            }
                        %>
                        <% } %>
                    </ul>
                </td>
        </table>
    <%- include('scripts') %>
    </body>
</html>