<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
    <%- include('header') %>
        <h1>Main Page</h1>

        <table>
            <tr>
                <td>
                    <ul>
                        <% for(let a = 0; a < playlists.length; a++){
                            if (playlists[a].dataValues.status === 'youtube') { %>
                                <li>
                                    <a href="/playlist/<%= playlists[a].dataValues.id %>"><%= playlists[a].dataValues.title %></a>
                                    <button class="sellButton" data-id="<%= playlists[a].dataValues.id %>">Sell</button>
                                </li>
                            <% } else { %>
                                <li><%= playlists[a].dataValues.title %><span class="forSale" style="text-transform: capitalize;"> <%=playlists[a].dataValues.status%> </span></li>
                            <% } %>
                        <% } %>


                    </ul>
                </td>
                <td>
                    <ul>
                        <h2>Store</h2>
                        <% for (let a = 0; a < storePlaylists.length; a++) { %>
                            <li><a href="/playlist/<%= playlists[a].dataValues.id %>"><%= playlists[a].dataValues.title %></a><button data-id='<%= storePlaylists[a].dataValues.id %>' class="buyButton">Buy</button></li>
                        <% } %>
                    </ul>
                </td>
            </tr>
        </table>
    <%- include('scripts') %>
    </body>
</html>