<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    <style>

    </style>
</head>
<body>
<%- include('header') %>
<table>
    <tbody>
        <tr>
            <td>
                <h2>My Playlists</h2>

                <ul style="float: left;">
                    <% var allMyPlaylists = [];
                    for(let a = 0; a < playlists.length; a++){
                    if (playlists[a].dataValues.status === 'youtube') { %>
                    <li style="width: 400px; height: 35px;">
                        <a href="/playlist/<%= playlists[a].dataValues.id %>"><%= playlists[a].dataValues.title %></a>
                        <button style="float: right;" class="sellButton button" data-id="<%= playlists[a].dataValues.id %>">
                            <span>Sell</span></button>
                    </li>
                    <% allMyPlaylists.push(playlists[a].dataValues);
                    }

                    } %>

                    <% console.log(sales); for(let a = 0; a < sales.length; a++){ %>
                    <li>
                        <a href="/playlist/<%= sales[a].dataValues.id %>"><%= sales[a].dataValues.title %></a>
                        <button data-id='<%= sales[a].dataValues.id %>' class="dontSell button"><span>Stop selling</span>
                        </button>
                    </li>
                    <% } %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Store</h2>
                <ul>
                    <% for (let a = 0; a < storePlaylists.length; a++) {
                    %>
                    <li>
                        <a href="/playlist/<%= storePlaylists[a].dataValues.id %>"><%= storePlaylists[a].dataValues.title %></a>
                        <button data-id='<%= storePlaylists[a].dataValues.id %>' class="buyButton button"><span>Buy</span>
                        </button>
                    </li>
                    <% } %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Bought For Me</h2>
                <ul>
                    <% for(let a = 0; a < orders.length; a++)
                    { %>
                    <li>
                        <span><%= orders[a].displayName %> bought </span>
                        <a href="/playlist/<%= orders[a].id %>"><%= orders[a].title %></a>
                        <span>playlist</span>
                    </li>
                    <% } %>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<%- include('footer') %>
<%- include('scripts') %>
</body>
</html>