<html>
    <head></head>
    <body>
        <%- include('header') %>
            <div>
                User Name : <%= user.displayName %>
            </div>
            <div id="ledgerTr">
                <b>InterLedger :</b>
                <% if(user.ILPUserName){ %>
                    <span id="ledgerAdress">Username : <%= user.ILPUserName %></span>
                <% }else {%>
                    <span id="ledgerAdress">Enter interledger username here</span>
                <% } %>
                <span id="error"></span>
            </div>
            <div id="editDiv">
                <button id="edit">Edit</button>
            </div>
        <%- include('footer')%>
    </div>
    <%- include('scripts') %>
    </body>
</html>